<html>
  <body>
    <form action="/do-updates" method="post">
      <table>
        <tr>
          <td>
            <label for"updated_id">Updating link ID:</label>
          </td>
          <td>
            <input type="text" name="updated_id" value="<%= @update_id %>">
          </td>
        </tr>

          <tr>
          <td>
            <label for="updated_title">Update URL Title: </label>
          </td>
          <td>
            <input type="text" name="updated_title" id="updated_title">
          </td>
        </tr>

        <tr>
          <td>
            <label for="updated_address">Update URL Address: </label>
          </td>
          <td>
            <input type="text" name="updated_address" id="updated_address">
          </td>
        </tr>

        <tr>
          <td>
            <label for="updated_tags">Update URL Tags: </label>
          </td>
          <td>
            <input type="text" name="updated_tags" id="updated_tags">
          </td>
        </tr>

        <tr>
          <td>
            <label for="updated_comments">Update URL Comments: </label>
          </td>
          <td>
            <input type="text" name="updated_comments" id="updated_comments">
          </td>
        </tr>

        <tr>
          <td>
            <input type="submit" id="add_bookmark_button" value="Update Bookmark">
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
